*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
body{
    background-color: black;
    color: white;
}
.header {
    text-align: center;
    margin: 50px 0 30px 0;
    /* background-color: red; */
}
.slide-show-controlls{
    /* background-color: tomato; */
    width: 50%;
    margin: auto;
    text-align: center;
}
button{
    background-color: darkgray;
    padding: 7px;
    border-radius: 5px;
}
.slide-show{
    width: 300px;
    height: 300px;
    margin: 20px auto;
    text-align: center;
}
.slide-show img{
    width: 100%;
    height: 100%;
}