* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

p {
    margin: 10px 0;
}


.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
        "header header "
        "sidebar content "
        "footer footer ";
    column-gap: 10px;
    row-gap: 7px;
}

.header {
    grid-area: header;
    background-color: rgb(19, 13, 48);
    padding: 20px;
    color: white;
    font-size: 20px;
    text-align: center;
}

.sidebar {
    grid-area: sidebar;
    background-color: white;
    border-right: 1px rgb(202, 199, 199) solid;
    padding: 10px 15px;
}

.sidebar p{
    background-color: rgb(214, 214, 214);
    padding: 10px;
    border-radius: 7px;
}


.content{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(250px , 1fr));
    gap: 20px;
}

.card{
    background-color: rgb(230, 230, 230);
    overflow: hidden;
    border-radius: 15px;


}
.card-img{
    border-radius: 15px;
    overflow: hidden;

}
.content img{
    width: 100%;
}

button{
    width: 100%;
    background-color: rgb(60, 106, 204);
    color: white;
    border-radius: 15px;
    padding: 10px 0;
    outline: 0px;
}
.footer {
    grid-area: footer;
    background-color: rgb(19, 13, 48);
    padding: 19px;
    color: white;
    font-size: 20px;
    text-align: center;
}







@media screen and (max-width:500px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "sidebar"
            "content"
            "aboutMe"
            "footer";
    }
}