body{
    background-color: rgb(7, 7, 54);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.marbell-container{
    width: 50%;
    padding: 50px;
    box-sizing: border-box;
    margin: auto;
    text-align: center;
    background-color: rgb(5, 5, 49);
    border-radius: 15px;
}

img[src="images/marble2.jpg"]{

    transition: all .5s ;
}
img[src="images/marble2.jpg"]:hover{
    transform: scale(1.1,1.1);
}