*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: lightgray;
}

/************************************/
.header{
    height: 200px;
    margin : 20px 0px;
    text-align: center;
    background-image: url(../assets/header.jpeg);
    background-size: cover;
    background-position: center;
    overflow: hidden;

}
.header-text{
    color: white;
    margin: 70px;
}
/*************************************************/

.container .aboutMe{
    width: 50%;
    margin: 10px auto;
    background-color: white;
    padding: 30px 10px;
    border: 1px black solid;
    border-radius: 5px;
}
.container .aboutMe .aboutHeader{
    text-align: center;
    margin-bottom: 20px;
}

/********************************************/
.container .mySkills{
    margin: 70px 360px;
}
.container .mySkills .skillsHeader{
    text-align: center;
    margin-bottom: 20px;
}
/************************************************/
.myProjects-header{
    text-align: center;
    margin-bottom: 20px;
}

.myProjects table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 60%;
    margin: auto;
    text-align: center;
}
td , th{
    border : 1px black solid;
}
th{
    background-color: rgb(73, 175, 229);
}
td{
    background-color: white;
}

/****************************/
.contactMe
{
    margin: 30px 0;;
    text-align: center;
}
.contactMe .contactHeader{
    margin-bottom: 10px;
}
button{
    background-color:rgb(73, 175, 229) ;
    border: 1px solid rgb(60, 147, 194);;
    border-radius: 7px;
    width: 100px;
    height: 30px;   
    color: white;
    transition: all .3s;
}
button:hover{
    background-color: rgb(79, 127, 153);

}
footer{
    background-color: rgba(0, 0, 0, 0.824);
    color: white;
    padding: 10px;
    text-align: center;
}
